* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
}

header {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 100%;
}

.header_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32%;
	background-color: #106dfa;
	height: 70px;
	border-radius: 1000px;
}
.header_wrapper:hover {
	box-shadow: 0 0 3px 1px #edf0f8;
	transform: scale(1.099);
}
h1 {
	color: #fff;
}
